/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  margin: 1%;
  width: 29%;
  padding: 1%;
  
}

#left {
 
  float: left;
  background: #666;
}

#middle {
  float: left;
  background: #888;
}

#right {
  float: left;
  background: #666;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both; 
  }

#full {
}

#division {

}

aside {
}

footer {
}
